<% if try_spree_current_user && (webpay_oneclick_mall_user = try_spree_current_user.webpay_oneclick_mall_user) && webpay_oneclick_mall_user.subscribed? %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="row text-center card my-3 px-4 border p-3">

          <div class="col-8 offset-2 col-md-4 offset-md-4">
            <img class="w-100 lazyload h-auto"
                 data-src="<%= config_img_cdn('oneclick_logo.png', 230, 144) %>" width="230" height="144"
                 alt=""/>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="sans-serif my-3">Subscripción Activa</h4>
              <p>Tiene una subscripción válida para realizar pagos con Webpay Oneclick:</p>
              <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                  <dl>
                    <dt><%= Spree.t("oneclick_auth_code") %>:</dt>
                    <dd><%= webpay_oneclick_mall_user.authorization_code %></dd>

                    <dt><%= Spree.t("oneclick_card_type") %>:</dt>
                    <dd><%= webpay_oneclick_mall_user.card_type %></dd>

                    <dt><%= Spree.t("oneclick_card_number") %>:</dt>
                    <dd><%= webpay_oneclick_mall_user.card_number %></dd>

                    <dt><%= Spree.t("oneclick_card_expiration_date") %>:</dt>
                    <dd><%= webpay_oneclick_mall_user.card_expiration_date || "No disponible" %></dd>

                    <dt><%= Spree.t("oneclick_created_at") %>:</dt>
                    <dd><%= l(webpay_oneclick_mall_user.created_at, format: :long) %></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= link_to Spree.t("oneclick_unsubscribe"), oneclick_mall_unsubscribe_path(back_url: request.referer), class: "btn btn-warning" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="row text-center card my-3 px-4 border p-3">

          <div class="col-8 offset-2 col-md-4 offset-md-4">
            <img class="w-100 lazyload h-auto"
                 data-src="<%= config_img_cdn('oneclick_logo.png', 230, 144) %>" width="230" height="144"
                 alt=""/>
          </div>
          <div class="col-md-12">
            <h4 class="sans-serif my-3">Subscripción Webpay Oneclick</h4>
            <p class="mb-1">No tiene subscripción activa para realizar pagos con Webpay Oneclick.</p>
            <p><b>Puede registrar una tarjeta en el siguiente link:</b></p>
          </div>
          <div class="col-md-12">
            <%= form_for :subscribe, url: oneclick_mall_subscribe_path do |f| %>
              <%= f.hidden_field  :back_url, value: request.referer %>
              <%= f.submit Spree.t("continue"), class: "btn btn-primary" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
